Django==1.7.1
Markdown==2.5.2
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
consulate==0.2.0
django-filter==0.8
django-jsonview==0.4.3
django-tastypie==0.12.1
python-dateutil==2.2
python-mimeparse==0.1.4
requests==2.4.3
six==1.8.0
tornado==4.0.2
wsgiref==0.1.2
